body {
  background: #fff;
}

* {
  box-sizing: border-box;
}

.main-wrapper {
  width: 800px;
}

.code-wrapper {
  border: 1px solid #000;
  background: #999;
  margin-bottom: 10px;
}

.container {
  border: 1px solid #999;
  display: flex;
  margin-bottom: 20px;
  width: 800px;
}

.container--column {
  flex-direction: column;
}

.container--space-between {
  justify-content: space-between;
}

.container--space-around {
  justify-content: space-around;
}

.item {
  border: 1px solid #f00;
  height: 100px;
  width: 100px;
}
